.page-title{
	font-size:50px;
	padding-bottom:5px;
	color:#5ca08e;
	border-bottom:4px solid #8abaae;
	width:0 auto;
}
.page-under{
	font-size:25px;
	padding-bottom:5px;
	color:#5ca08e;	
	width:0 auto;

}

body{
	
}